.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */ */
    /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ */
    /* background-color: rgba(0,0,0,0.8); */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: rgb(181, 159, 127); */
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 50%;
    /* height: 80%; */
    /* background-color: rgba(0,0,0,0.8); */

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





.gif {
  position: absolute;
  width: 900px;
  height: 600px;
}

.header {
  font-family: Impact;
  display: flex;
  font-size: 58px;
  justify-content: center;
  /* background-color: rgb(181, 159, 127); */
}



.header-fatal {
  color: yellow;
  padding: 10px 18px 0 150px;
  letter-spacing: 1px;

}


.head-ul-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.head-ul {
  display: flex;
  font-family: Impact;

  font-size: 34px;
  color: dark-gray;
  letter-spacing: 1px;

  /* flex-direction: column; */
}





.header-start {
  color: red;
  padding-top: 11px;
  letter-spacing: 1px;

}


html {
  /* background-color: rgb(181, 159, 127); */
  background-color: rgba(0,0,0,0.8);

  /* background-color: #F0F8FF		; */

  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100%
  display: flex;
  align-items: center;
  justify-content: center;
}
#canvas {
  border-radius: 5px;
  background-image: url('../assets/images/Final.png');
  background-size: cover;

}
.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.links {
  padding-top: 20px;
  list-style: none;
  font-family: Impact;
  /* min-height: 550px; */
  letter-spacing: 1.5px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  margin: auto;

}
.main-instructions-container {
  display: flex;
  flex-direction: column;
  width: 30%;

}

.h2 {
  font-size: 30px;
  margin: auto;
  color: black;
  padding-bottom: 20px;
  font-family: Impact;

}
.instructions-container {
  font-family: Impact;
  color: #434343;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /* background-color: orange; */
  background-color: rgb(181, 159, 127);
  background-color: #DEB887	;
  width: 80%;
  margin: auto;
  padding: 20px 0;

}

.instructions {
  font-size: 34px
}

.play-instruction-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.git {
  color: red;
      background: yellow;
      min-height: 90px;
      min-width: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 100%;
      align-items: center;
      font-size: 19px;
}

.git-1 {
  color: red;
      background: yellow;
      min-height: 90px;
      min-width: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 100%;
      align-items: center;
      font-size: 17px;
}


.moves-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.moves-list li {
  padding: 6px 0;
}
.ul {
  padding: 0 15px;

}



.list {
  font-size: 30px;
  list-style: none;
  letter-spacing: 1px;
}

/* .left-container {
  width: 20%;
} */

.sound {
  border-radius: 100%;
  width: 20%
}
